.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: $container-margin-y $container-margin-x;
  padding: $container-padding-y $container-padding-x;
  border: 1px solid $border-color;
  border-radius: $border-radius-base;
  color: $white;
}
.input {
  margin: 5px 0px;
  background-color: transparent;
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid $border-color;
}

.text-forget-psw {
  align-self: flex-start;
  margin: 15px 0;
}

.text-or {
  margin: 15px 0;
}
//TODO feedback: 这里class名字之前少了一个点
head-message {
  margin: 0 0 10px 0;
}
