.btn {
  @include btn-variant($body-bg,$primary-color);
  border-radius: $btn-border-radius;
  border: 1px solid $primary-color;
  &-primary {
    @extend .btn;
    @include btn-variant($primary-color,$white);
  }
  &-container {
    @extend .btn;
    width: 100%;
    &-primary {
      @extend .btn-container;
      @include btn-variant($primary-color,$white);
    }
  }
}
